# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
trade_right_app/pyvenv.cfg
trade_right_app/etc/jupyter/nbconfig/notebook.d/dash.json
trade_right_app/etc/jupyter/nbconfig/notebook.d/jupyterlab-plotly.json
trade_right_app/Scripts/activate
trade_right_app/Scripts/activate.bat
trade_right_app/Scripts/Activate.ps1
trade_right_app/Scripts/dash-generate-components.exe
trade_right_app/Scripts/dash-update-components.exe
trade_right_app/Scripts/deactivate.bat
trade_right_app/Scripts/f2py.exe
trade_right_app/Scripts/flask.exe
trade_right_app/Scripts/fonttools.exe
trade_right_app/Scripts/normalizer.exe
trade_right_app/Scripts/pip.exe
trade_right_app/Scripts/pip3.11.exe
trade_right_app/Scripts/pip3.exe
trade_right_app/Scripts/pyftmerge.exe
trade_right_app/Scripts/pyftsubset.exe
trade_right_app/Scripts/python_d.exe
trade_right_app/Scripts/python.exe
trade_right_app/Scripts/pythonw_d.exe
trade_right_app/Scripts/pythonw.exe
trade_right_app/Scripts/renderer.exe
trade_right_app/Scripts/ttx.exe
trade_right_app/share/jupyter/lab/extensions/dash-jupyterlab.tgz
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/package.json
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/133.6d12cccf9f8adfca1bd2.js
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/423.d0d3e2912c33c7566484.js
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/478.a8a3068c6ea46446b42e.js
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/478.a8a3068c6ea46446b42e.js.LICENSE.txt
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/486.6450efe6168c2f8caddb.js
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/486.6450efe6168c2f8caddb.js.LICENSE.txt
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/657.1baecf6566299d029072.js
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/855.323c80e7298812d692e7.js
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/remoteEntry.5ee426487d188c3eb29e.js
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/style.js
trade_right_app/share/jupyter/labextensions/jupyterlab-plotly/static/third-party-licenses.json
trade_right_app/share/jupyter/nbextensions/dash/main.js
trade_right_app/share/jupyter/nbextensions/jupyterlab-plotly/extension.js
trade_right_app/share/jupyter/nbextensions/jupyterlab-plotly/index.js
trade_right_app/share/jupyter/nbextensions/jupyterlab-plotly/index.js.LICENSE.txt
trade_right_app/share/man/man1/ttx.1
